* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:5px;
    height:0px
    }
    
    ::-webkit-scrollbar-track {
    background-color:#ecedee
    }
    
    ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color:#6dc0c8;
    }
    
    ::-webkit-scrollbar-thumb:hover{
    background-color:#56999f;
    }
    
    ::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:4px;
    height:0px
    }
    
    ::-webkit-scrollbar{
    width: 4px;
    }

html {
    height: 100%;
    width: 100%;
}

body {
    display: grid;
    height: 100%;
    width: 100%;
    margin: 0;
    grid-template-rows: 1.3fr 7fr 0.4fr;
}

header {
    display: grid;
    grid-template-columns: 4fr 0.5fr;
}

main {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.logo {
    background-color: rgb(0, 231, 208);
    color: white;
    font-size: 4.5vw;
    padding: 3%;
}

.menu {
    background-color: rgb(56, 197, 183);
    overflow-y: scroll;
}

.content {
    background-color:rgb(255, 255, 255);
}

.form1 {
    background-color: rgb(0, 231, 208);
}

footer {
    background-color: rgb(88, 224, 211);
}

input {
    background-color:  rgb(150, 251, 241);
    color: white;
    border: black solid 1px;
}

.menu_new {
    border-radius: 8px;
    display: flex;
    left: 0;
    position: relative;
    background-color:  rgb(255, 255, 255);
    height: 8%;
    width: 90%;
    border: black 1px solid;
    margin: auto;
    margin-top: 4%;
    transition: 0.2s;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    color: rgb(78, 179, 168);
}

.menu_new:hover {
    font-size: 2.5vw;
    color: rgb(0, 0, 0);
    width: 93%;
    height: 12%;
    transition: 0.3s;
    box-shadow: 0 0 13px rgba(0,0,0,0.8);
}

#mtop {
    color: white;
    font-size: 250%;
    margin-left: 5%;
    margin-top: 3%;
}

.menuBlock {
    border-radius: 8px;
    display: flex;
    left: 0;
    position: relative;
    background-color:  rgb(255, 255, 255);
    height: 8%;
    width: 90%;
    border: black 1px solid;
    margin: auto;
    margin-top: 4%;
    transition: 0.2s;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5vw;
    color: rgb(78, 179, 168);
}

.menuBlock:hover {
    font-size: 2.5vw;
    color: rgb(0, 0, 0);
    width: 93%;
    height: 12%;
    transition: 0.3s;
    box-shadow: 0 0 13px rgba(0,0,0,0.8);
}

.themeDelete {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    font-size: 1.5vw;
    transition: 0.2s;
}

.themeDelete:hover .trashLogo {
    width: 45%;
    height: 45%;
    transition: 0.2s;
    opacity: 100%;
}

.themeName {
    display: flex;
    justify-content: center;
    width: 70%;
    font-size: 1.5vw;
    transition: 0.2s;
    margin: auto;
}

.themeName:hover {
    font-size: 2vw;
    transition: 0.2s;
}

.trashLogo {
    width: 30%;
    height: 30%;
    transition: 0.2s;
    opacity: 50%;
}
